* {
  margin: 0;
  padding: 0;
}

.container-all {
  background-color: rgb(224, 222, 222);
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
  margin: 20px;
}

#subtittle {
text-align: center;}

div {
  margin: 10px;
}

#textarea {
  display: flex;
}

#form-fill {
  justify-content: space-between;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}
